# Flutter/Dart related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Android related
.gradle/
local.properties
**/Android/sdk/
**/Android/captures/
*.apk
*.aab

# iOS/macOS related
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.[mh]
**/ios/Pods/
**/ios/.symlinks/
*.xcworkspace
*.p12

# Web related
node_modules/
build/

# Environment secrets (Important!)
.env
auth_key.json

# IDE related
.vscode/
.idea/
*.iml